<% if journal.present? && journal.respond_to?(:note_versions) %>
  <% note_versions = journal.note_versions.includes(:edited_by).recent_first.to_a %>
  <% if note_versions.any? %>
    <% current_timestamp = (journal.respond_to?(:updated_on) ? journal.updated_on : nil) || journal.created_on %>
    <% panel_id = "comment-edit-history-#{journal.id}" %>
    <% history_count = note_versions.size %>
    <div class="comment-edit-history" data-comment-edit-history-panel-id="<%= panel_id %>">
      <%= link_to l(:label_comment_edit_history_indicator, count: history_count),
                  "#",
                  class: 'icon icon-history comment-edit-history__link',
                  title: l(:label_comment_edit_history_show),
                  data: { toggle_target: panel_id },
                  'aria-controls': panel_id,
                  'aria-expanded': 'false' %>

      <div class="comment-edit-history__panel" id="<%= panel_id %>" hidden="hidden">
        <ul class="comment-edit-history__list">
          <li class="comment-edit-history__item comment-edit-history__item--current">
            <div class="comment-edit-history__meta">
              <span class="comment-edit-history__timestamp">
                <%= format_time(current_timestamp) %>
              </span>
              <% if journal.user %>
                <span class="comment-edit-history__user">
                  <%= avatar(journal.user, size: '16').html_safe %>
                  <%= link_to_user(journal.user) %>
                </span>
              <% end %>
              <span class="comment-edit-history__badge">
                <%= l(:label_comment_edit_history_current) %>
              </span>
            </div>
            <div class="comment-edit-history__note wiki">
              <%= textilizable(journal.notes) %>
            </div>
          </li>

          <% note_versions.each do |version| %>
            <li class="comment-edit-history__item">
              <div class="comment-edit-history__meta">
                <span class="comment-edit-history__timestamp">
                  <%= format_time(version.edited_at) %>
                </span>
                <% if version.edited_by.present? %>
                  <span class="comment-edit-history__user">
                    <%= avatar(version.edited_by, size: '16').html_safe %>
                    <%= link_to_user(version.edited_by) %>
                  </span>
                <% end %>
              </div>
              <div class="comment-edit-history__note wiki">
                <%= textilizable(version.notes) %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>
